html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: grey;
}

#Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#Calculator {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    background-color: #28282a;
    border: 1px solid #4a4a4e;
}

#screen {
    height: 150px;
    width: 270px;
    border: 1px solid #b5b5c0;
    margin: 15px;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 40px;
    font-size: 40px;
    background-color: #3c3c3e;
    color: #b5b5c0;
    word-break: break-word;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
    width: 400px;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
}

button {
    width: 100px;
    height: 45px;
    margin: 3px;
    font-size: 18px;
    background-color: #69698f;
    color: #c8c8d8;
    border: 1px solid #c8c8d8;
}

.wider > button {
    width: 246px;
    margin: 3px;
}
